/*===============================
                        extra  small device start
================================*/
@media (max-width: 575.98px) {
  .main_menu {
    position: -webkit-sticky !important;
    position: sticky !important;
    background: #e23e38;
    top: 0;
  }
  .main_menu .navbar-brand {
    width: 170px;
    height: 50px;
    line-height: 0;
    margin-left: 15px;
  }
  .main_menu .navbar-brand img {
    width: 110px;
    padding-top: 3px;
  }
  .main_menu .navbar-toggler {
    color: #fff;
    font-size: 25px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }
  .main_menu .navbar-toggler:focus {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  .main_menu .navbar-toggler:active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .main_menu ul {
    background: #e23e38;
    text-align: center;
    width: 40%;
  }
  .main_menu ul li {
    border-bottom: 1px solid #ddd;
  }
  .main_menu ul li a {
    line-height: 30px;
  }
  .main_menu ul li:first-child {
    border-top: 1px solid #ddd;
  }
  .fixd {
    position: -webkit-sticky !important;
    position: sticky !important;
  }
  /*--menu part end*/
  #banner .banner_item {
    margin-bottom: 40px;
    padding: 80px 0 90px;
  }
  #banner .banner_item .banner_text h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: auto;
  }
  #banner .banner_item .banner_text h1 {
    color: #e23e38;
    font-size: 40px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: 70px;
  }
  #banner .banner_item .banner_text p {
    padding: 10px 25px 0 25px !important;
  }
  #banner .banner_item .banner_text a {
    margin-left: -15px !important;
  }
  #banner .banner_item .banner_text a:last-child {
    margin-left: -5px !important;
  }
  /*--banner part end*/
  #about_part {
    margin-bottom: 40px;
  }
  #about_part .about_text {
    padding: 0;
  }
  #about_part .about_text p {
    margin-bottom: 30px !important;
    text-align: justify;
  }
  #about_part .about_text p span {
    display: none;
  }
  /*--about part end*/
  #gallery_part {
    margin-bottom: 40px;
  }
  #gallery_part .gub {
    margin-bottom: 24px;
  }
  /*--gallery part end*/
  #team_part {
    margin-bottom: 40px;
  }
  #team_part .team_main {
    margin-top: 0;
    margin-bottom: 40px;
  }
  #team_part .team_main:hover {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  #team_part .titu {
    margin-bottom: 0 !important;
  }
  .team_overlay {
    opacity: 1 !important;
  }
  .team_overlay ul {
    position: absolute;
    right: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .team_overlay ul li:first-child {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  .team_overlay ul li:nth-child(2) {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  .team_overlay ul li:nth-child(3) {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  .team_text {
    border-top: 0;
    border: 1px solid #ddd !important;
  }
  .team_text p {
    opacity: 1 !important;
    padding: 10px 15px 15px 15px !important;
  }
  /*--team part end*/
  #testimonial {
    margin-bottom: 40px;
  }
  #testimonial .testi_part {
    padding-top: 25px;
    padding-bottom: 16px;
    /*dots*/
  }
  #testimonial .testi_part .test_text {
    padding: 0 20px;
  }
  #testimonial .testi_part .test_text .row {
    padding-right: 0 !important;
  }
  #testimonial .testi_part .test_text .row .col-lg-2,
  #testimonial .testi_part .test_text .row .col-4 {
    padding-right: 0 !important;
  }
  #testimonial .testi_part .test_text p {
    text-align: justify;
  }
  #testimonial .testi_part .test_slide ul .slick-active button {
    width: 15px;
    height: 15px;
  }
  #testimonial .testi_part .test_slide ul li button {
    width: 10px;
    height: 10px;
  }
  /*--testimomial part end*/
  #member {
    margin-bottom: 20px;
  }
  #member .first_mem,
  #member .second_mem {
    margin-bottom: 30px;
  }
  #member .first_mem:hover,
  #member .second_mem:hover {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  #member .first_mem h6,
  #member .second_mem h6 {
    color: #222;
    font-size: 14px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: auto;
    padding: 15px 0 !important;
  }
  #member .first_mem h4,
  #member .second_mem h4 {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: 65px;
  }
  #member .first_mem h4 span,
  #member .second_mem h4 span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: auto;
  }
  #member .first_mem ul li,
  #member .second_mem ul li {
    color: #444;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    line-height: 30px;
  }
  #member .first_mem ul li:first-child,
  #member .second_mem ul li:first-child {
    padding-top: 15px !important;
  }
  #member .first_mem ul li:last-child,
  #member .second_mem ul li:last-child {
    padding-bottom: 15px !important;
    margin-bottom: 0 !important;
  }
  #member .first_mem a,
  #member .second_mem a {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: auto;
    padding: 12px 0 !important;
  }
  #member .second_mem {
    margin-bottom: 30px;
  }
  /*--member part end*/
  #counter {
    margin-bottom: 40px;
    padding: 25px 0;
  }
  #counter .counter_text h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: auto;
  }
  #counter .counter_text p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: unset;
    line-height: auto;
  }
  /*--counter part end*/
  #class_part {
    margin-bottom: 45px;
  }
  #class_part .class_mal .class_menu li {
    width: 33.33%;
  }
  #class_part .class_mal .class_menu li button {
    border: 1px solid #fff !important;
    color: #222;
    font-size: 12px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: 40px;
  }
  #class_part .class_mal .tabs_body ul li {
    color: #444;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    line-height: auto;
    margin-right: 5px;
    padding: 0 32px;
    width: 49.16%;
  }
  #class_part .class_mal .tabs_body ul li p:first-child {
    padding-top: 10px !important;
  }
  #class_part .class_mal .tabs_body ul li p:last-child {
    padding-bottom: 10px !important;
    font-size: 12px !important;
  }
  #class_part .class_mal .tabs_body ul li:nth-child(6), #class_part .class_mal .tabs_body ul li:nth-child(7), #class_part .class_mal .tabs_body ul li:nth-child(8) {
    margin-bottom: 5px;
  }
  #class_part .class_mal .tabs_body ul li:nth-child(2), #class_part .class_mal .tabs_body ul li:nth-child(4), #class_part .class_mal .tabs_body ul li:nth-child(6), #class_part .class_mal .tabs_body ul li:nth-child(8), #class_part .class_mal .tabs_body ul li:nth-child(10) {
    margin-right: 0;
  }
  /*--class part end*/
  #logo_part {
    margin-bottom: 40px;
  }
  /*--logo part end*/
  #footer_part .footer_mal .footer_head {
    padding: 15px 0 !important;
  }
  #footer_part .footer_middle {
    padding: 15px 0 !important;
  }
  #footer_part .footer_middle .f_head {
    margin-bottom: 15px !important;
  }
  #footer_part .footer_middle .f_head h6 {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  #footer_part .footer_middle .one,
  #footer_part .footer_middle .two,
  #footer_part .footer_middle .three {
    margin-bottom: 30px;
  }
  #footer_part .footer_middle .one p,
  #footer_part .footer_middle .two p,
  #footer_part .footer_middle .three p,
  #footer_part .footer_middle .four p {
    font-size: 11px !important;
    line-height: 20px !important;
  }
  #footer_part .footer_middle .three ul li {
    width: 22.47% !important;
  }
  #footer_part .footer_bottom {
    padding: 10px 0 !important;
  }
  #footer_part .footer_bottom p {
    font-size: 10px !important;
  }
  /*--footer part end*/
}

/*===============================
                        extra  small device end
================================*/
/*===============================
                        small device start
================================*/
/*===============================
                        small device end
================================*/
/*===============================
                        medium device start
================================*/
/*===============================
                        medium device end
================================*/
/*===============================
                        large device start
================================*/
/*===============================
                        large device end
================================*/
/*===============================
                        extra large device start
================================*/
/*===============================
                        extra large device end
================================*/
/*===============================
                Double extra large device start
================================*/
/*===============================
                Double extra large device end
================================*/
/*# sourceMappingURL=responsive.css.map */