// fonts
$os : 'Oswald', sans-serif;
$op : 'Open Sans', sans-serif;

// colors
$mcolor : #e23e38;
$fcolor1 : #222;
$fcolor2 : #444;
$fcolor3 : #ddd;
$hcolor : #fff;
$bgcolor : #f1f1f1;
$icolor : #1da0f2;