@import '../mixins/mixinsone';
@import '../vars/variables';

.main_menu {
    position: absolute !important;
    content: ' ';
    left: 0;
    top: 30px;
    width: 100%;
    height: 50px;
    background: rgba(53, 53, 53, 0.25);
    z-index: 999;

    .navbar-brand {
        width: 245px;
        height: 70px;
        line-height: 70px;
        background: #323232;
        text-align: center;
        transform: skew(-30deg);
        -webkit-transform: skew(-30deg);
        -moz-transform: skew(-30deg);
        -ms-transform: skew(-30deg);
        -o-transform: skew(-30deg);

        img {
            transform: skew(30deg);
            -webkit-transform: skew(30deg);
            -moz-transform: skew(30deg);
            -ms-transform: skew(30deg);
            -o-transform: skew(30deg);
        }
    }

    ul {

        li {

            a {
                @include fon ($hcolor, 14px, 400, $os, uppercase, 50px);
                padding: 0 10px !important;
                position: relative;

                &:hover {
                    color: $fcolor1;
                    background: $hcolor;
                }

                &::after {
                    position: absolute;
                    content: ' ';
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background: $mcolor;
                    /*effect*/
                    transform: scaleX(0);
                    transform-origin: right;

                    transition: transform 0.3s;
                    -webkit-transition: transform 0.3s;
                    -moz-transition: transform 0.3s;
                    -ms-transition: transform 0.3s;
                    -o-transition: transform 0.3s;
                    -webkit-transform: scaleX(0);
                    -moz-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    -o-transform: scaleX(0);
                }

                &:hover::after {
                    /*effect*/
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    -moz-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    -o-transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}

/*menu fix*/
.fixd {
    position: sticky !important;
    content: ' ';
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;

    .navbar-brand {
        height: 50px;
        line-height: 0;
    }
}