@import '../mixins/mixinsone';
@import '../vars/variables';

#team_part {
    margin-bottom: 80px;

    .team_pic {
        position: relative;
        overflow: hidden;

        .team_overlay {
            opacity: 0;
            position: absolute;
            content: ' ';
            left: 10px;
            top: 10px;
            right: 10px;
            bottom: 10px;
            background: rgba(226, 62, 56, 0.5);
            border: 5px solid #eee;
            transition: all linear 0.3s;
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;

            ul {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);

                li {
                    transform: translateX(45px);
                    -webkit-transform: translateX(45px);
                    -moz-transform: translateX(45px);
                    -ms-transform: translateX(45px);
                    -o-transform: translateX(45px);

                    &:first-child {
                        transition: all linear 0.3s;
                        -webkit-transition: all linear 0.3s;
                        -moz-transition: all linear 0.3s;
                        -ms-transition: all linear 0.3s;
                        -o-transition: all linear 0.3s;
                    }

                    &:nth-child(2) {
                        transition: all linear 0.5s;
                        -webkit-transition: all linear 0.5s;
                        -moz-transition: all linear 0.5s;
                        -ms-transition: all linear 0.5s;
                        -o-transition: all linear 0.5s;
                    }

                    &:nth-child(3) {
                        transition: all linear 0.7s;
                        -webkit-transition: all linear 0.7s;
                        -moz-transition: all linear 0.7s;
                        -ms-transition: all linear 0.7s;
                        -o-transition: all linear 0.7s;
                    }

                    a {
                        margin: 5px 0;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border: 1px solid #fff;
                        color: #fff;
                        transition: all linear 0.3s;
                        -webkit-transition: all linear 0.3s;
                        -moz-transition: all linear 0.3s;
                        -ms-transition: all linear 0.3s;
                        -o-transition: all linear 0.3s;

                        &:hover {
                            color: $icolor;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    .team_main {
        margin-top: 47px;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;

        &:hover .team_overlay {
            opacity: 1;
        }

        &:hover .team_overlay ul li {
            transform: translateX(-10px);
            -webkit-transform: translateX(-10px);
            -moz-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            -o-transform: translateX(-10px);
        }

        &:hover .team_text p {
            opacity: 1;
        }

        &:hover .team_text {
            border-top: 0;
            border-color: #ddd;
        }

        &:hover {
            transform: translateY(-42px);
            -webkit-transform: translateY(-42px);
            -moz-transform: translateY(-42px);
            -ms-transform: translateY(-42px);
            -o-transform: translateY(-42px);
        }
    }

    .team_text {
        border: 1px solid transparent;

        h4 {
            padding-top: 20px !important;
            @include fon ($fcolor1, 14px, 400, $os, uppercase, auto);
        }

        h6 {
            @include fon ($fcolor2, 14px, 400, $os, capitalize, 30px);
        }

        p {
            @include fon ($fcolor2, 13px, 400, $op, unset, auto);

            opacity: 0;
            padding: 5px 10px 10px 10px;
            transition: all linear 0.2s;
            -webkit-transition: all linear 0.2s;
            -moz-transition: all linear 0.2s;
            -ms-transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
        }
    }
}